.App {
  text-align: center;
}

.appLogo {
  height: 20px;
  pointer-events: none;
  margin: 20px;
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.searchContainer {
  padding: 20px;
  background-color: #181c56;
}

.searchHeading {
  color: white;
}

.search {
  width: 50%;
}

.App-link {
  color: #61dafb;
}

.dropdownMedium {
  :global(.eds-form-control__input-container) {
    min-height: 48px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
